@using System.Security.Claims
@model WebAppMvc.Controllers.Person
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@User.IsInRole("User")

<a asp-controller="Account" asp-action="LoginOut">Logout</a>

<form asp-controller="Home" asp-action="Index" class="form-inline">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control"/>
        <span asp-validation-for="Age"></span>
    </div>
    <button class="btn btn-primary">Save</button>
</form>

@await Component.InvokeAsync("News", new {count = 3})

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}